body{
  text-align: center;
  font-size: 18px;
  background-color: black !important;
  color: red !important;
}
p{
  color: red;
  font-size: 1.5em;
}
.return-text{
  color: red;
}
.calculator{
  /*borxder: 2px solid red;*/
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  margin-top: 20px;
  margin-left: -5px;
  background-color: black;
}
.total{
  font-size: 3em;
  color: red;
}
input[type="number"]
{
    font-size:1.5em;
    text-align: center;
}
button{
  border: 2px solid red;
}
